
#build --compiler=clang
build --nokeep_going --color=yes
# build --crosstool_top=@toolchain//crosstool:toolchain
build --copt=-fPIC
build --copt=--std=c++17
build --repo_env=AR=/usr/bin/ar
build --repo_env=CC=/usr/bin/gcc
build --repo_env=CXX=/usr/bin/g++
build --repo_env=CUDA_HOME
build --repo_env=CUDA_PATH
build --repo_env=CUDA_ROOT
build --repo_env=LD=/usr/bin/ld
build --repo_env=NM=/usr/bin/nm
build --repo_env=RANLIB=/usr/bin/ranlib
build --repo_env=HIP_PATH
build --repo_env=ROCM_PATH
build --repo_env=GPU_BACKEND
build --flag_alias=cuda_archs=@rules_cuda//cuda:archs

#build -c opt
build:opt -c opt
build:opt --copt=-O3

build:debug -c dbg --strip="never"
build:debug --copt=-g3
build:debug --copt=-O0
build:debug --copt=-UNDEBUG
# build:debug --copt=-v
build:debug --copt=-fdiagnostics-color=always
# build:debug --linkopt=-v
build:debug --linkopt=-Wl,-g
build:debug --linkopt=-Wl,--discard-none
build:debug --copt=-fdiagnostics-color=always


# build:opt -c opt --strip="always"

# build --define=target_platform=x86_64
# build --action_env=target_platform="x86_64"
build:x86_64 --cpu=k8
build:x86_64 --define=target_platform=x86_64
build:x86_64 --action_env=target_platform="x86_64"


build --define=target_platform=jetson
build --action_env=target_platform="jetson"
build:jetson --cpu=aarch64
build:jetson --define=target_platform=jetson
build:jetson --action_env=target_platform="jetson"

# CUDA backend config
build:cuda --repo_env=GPU_BACKEND=cuda

# ROCm/HIP backend config
build:rocm --repo_env=GPU_BACKEND=rocm
build:rocm --define=backend=hip
build:rocm --cxxopt=-DUSE_HIP
build:rocm --host_cxxopt=-DUSE_HIP
build:rocm --cxxopt=-D__HIP_PLATFORM_AMD__
build:rocm --host_cxxopt=-D__HIP_PLATFORM_AMD__

common --enable_bzlmod
